<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en-US" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US" dir="ltr"> <!--<![endif]-->
<head>
    <title>Wright Brothers Communications</title>
    <meta name="description" content="" />
    <meta name="author"      content="" />
    <meta name="viewport"    content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- font loading -->
    
    <!--[if lt IE 9]>
        <script src="assets/library/html5shiv.js"></script>
    <![endif]-->
    
    <!-- user scripts / style -->
    <link href="style/style.css" rel="stylesheet" />
</head>

<body >
    <div id="container">

        <!-- header -->
        <header class="main-header">
            <section class="intro-hero intro-background-image">
                <div class="logo"><img class="img" src="assets/images/logo.png" alt="Harcourts Premier Properties" /></div>

                <div class="menu-icon menu-toggle">
                    <div class="bar"></div>
                </div>
                
                <nav class="nav wrapper wrapper-sml clearfix">
                    <ul class="slice nav-list mobile-nav">
                        <li class="slice-item"><a href="#" class="nav-link">Home</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">Philosophy</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">Featured</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">Sell</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">EB-5</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">Contact</a></li>
                        <li class="slice-item"><a href="#" class="nav-link">Blog</a></li>
                    </ul> 
                </nav>

                <div class="intro-copy slice">
                    <div class="slice-item slice-align-middle">
                        <h1 class="intro-title">Domestic and International Real Estate</h1>
                        <div class="wrapper wrapper-sml slice">
                            <div class="slice-item slice-45">
                               <div class="btn-wrapper button-wrapper-235"><a href="#" class="white-outline-btn">Search For Homes</a></div> 
                            </div>
                            <div class="slice-item slice-10 slice-align-middle">
                                <span class="span"> or </span>
                            </div>
                            <div class="slice-item slice-45">
                                <div class="btn-wrapper button-wrapper-235"><a href="#" class="white-outline-btn">Sell Your Home</a></div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
            
          
        </header>

        <!-- content -->
        <div id="content">
            <div class="wrapper wrapper-md">

                <section class="module-one">
                <h1 class="section-header text-align-center lightGrey">Philosophy</h1>
                <hr class="clean-hr-lightGrey centered"></hr>
                <p class="paragraph text-align-center">Welcome to The Miller Hobbs Group website. Located in beautiful Southern California, we specialize in working with domestic and international clients to buy and sell luxury properties.</p>
                <div class="slice slice-fixed slice-gutter">
                    <div class="slice-item">
                        <p class="paragraph paragraph-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisl neque, gravida vel mauris sit amet, egestas vehicula quam. Nullam ex augue, commodo ac dui ac, ultrices elementum nisi. Integer viverra porttitor orci, et auctor tellus efficitur ac. </p>
                    </div>
                    <div class="slice-item">
                        <p class="paragraph paragraph-medium">
                            Phasellus nec elit a nibh eleifend porta. Curabitur lorem urna, pharetra a aliquet at, molestie eu leo. Integer non sem et sem vestibulum consectetur vitae at elit. Nullam eu dolor leo. Vestibulum nec facilisis diam. Aliquam et tincidunt lorem. 
                        </p>
                    </div>
                </div>
                </section>

            </div>
        </div>

        
    </div>

    <script type="text/javascript" src="scripts/bundle.js"></script>
</body>
</html>